@{
ViewData["Title"] = "VTCA";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <h3>
                Xin chào, @ViewBag.Username
            </h3>
            <input type="button" class="btn btn-primary ml-auto" value="Đăng xuất"
                onclick="window.location.href = '/Home/Logout'">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Soạn thư</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Đã gửi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Đã nhận
                        <span class="badge badge-primary badge-pill">14</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-9">
            <div class="tab-content">
                <div id="home" class="container tab-pane active"><br>
                    <form action="/Home/Home" method="POST">
                        <div class="form-group wrap-compose d-flex flex-wrap align-items-center">
                            <label>Người nhận</label>
                            <textarea id="receiver" name="receiver" placeholder="Nhập tên người nhận"
                                class="form-control js-formatInputName receiver"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tiêu đề</label>
                            <input type="text" class="form-control " name="title" placeholder="Nhập tiêu đề" required>
                        </div>
                        <div>
                            <label>Nội dung</label>
                            <br>
                            <textarea id="subject" class="form-control" name="content" placeholder="Nhập nội dung ..."
                                style="height:200px" required></textarea>
                        </div>
                        <button class="btn btn-primary" id="send">Gửi</button>
                    </form>
                </div>
                <div id="menu1" class="container tab-pane fade"><br>
                    <form action="/Home/Home" method="POST">
                        
                    </form>
                </div>
            <div id="menu2" class="container tab-pane fade"><br>
                <form action="/Home/Home" method="POST">
                    <ul class="list-group">
                        @if(ViewBag.ListMailReceiver != null)
                        {
                        @foreach (var item in ViewBag.ListMailReceiver){
                        <a class="card-link" href="#detail">
                            <li class="list-group-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <b class="text-dark">Người gửi: @item.Sender.Username</b>
                                        </div>
                                        <div class="col-7">
                                            <b>@item.Mail.Title</b>
                                            <span>- @item.Mail.Content</span>
                                        </div>
                                        <div class="col-1">
                                            <button class="btn btn-danger">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>
                        }
                        }
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
</div>